body {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

header {
  color: white;
}

#solar-system {
  display: flex;
  justify-content: space-between;
  width: 100%;
}